{% extends 'base.html' %}

{% block content %}

<h1 >{% block title %} My Studies {% endblock %}</h1>
<div>
  <article>
    <div class="row">
        <div class="col-sm">
            <header>
                <h3>
                    Computer  Science
                </h3>
                <p>
                    National University of Engeneering| Ago 2014 - Jun 2020
                </p>
                <h4>
                    Computer  Science Degree
                </h4>
            </header>
           <div>
            Develop new computational techniques.
            Through permanent innovation, it fosters the formation of technology-based companies.
            Analyze a problem and identify and define the computational requirements for its solution.
            Designs, implements, and evaluates a computer system, process, component, or program to meet desired needs.
            Applies the mathematical base, principles of algorithms and the theory of Computer Science in the modeling and design of computer systems.
            </div>
                
        </div>

        <div class="col-sm">
            <img src="https://4.bp.blogspot.com/-H1TBHe-lShg/VLbJKSzkJyI/AAAAAAAAkgU/ghq1sY2cqUU/s1600/uni.jpg">
        </div>
    <div>

   
  </article>
  
</div>
{% endblock %}
